<div id="artistView">

    <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="#">hive</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- END OF NAVBAR -->

    <div class="mainContainer">
        <div class="row artisttopRow">
            <div class="col-sm-2 col-md-2" id="photo">
                <p id="addImageButton" ngf-select="upload($file)" id="uploadImagePic">upload photo</p>
                <div id="userImage"><img src="{{currentUser.artist.image}}" height="150px" width="150px"></div>
                <div>{{currentUser.artist.name}}</div>
            </div>

            <div class="col-sm-5 col-md-5" id="stats">
                <img src="icons/form.png" height="20px" width="20px" id="statsButton" data-toggle="modal" data-target=".statsmodal">
                <div><span>Hometown:</span> {{currentUser.artist.hometown}}</div>
                <div><span>Age:</span> {{currentUser.artist.age}}</div>
                <div><span>Genre:</span> {{currentUser.artist.genre}}</div>
                <div><span>Group size:</span> {{currentUser.artist.group_size}}</div>
                <div><span>Website:</span> {{currentUser.artist.website}}</div>
                <div><span>Tel:</span> {{currentUser.artist.tel}}</div>
            </div>
            <div class="col-sm-4 col-md-4" id="bio">
                 <img src="icons/form.png" height="20px" width="20px" id="bioButton" data-toggle="modal" data-target=".aboutmodal">
                 <p>{{currentUser.artist.about}}</p>
            </div>
        </div> <!-- END OF TOP ROW -->



        <div class="row midRow">
            <div class="col-sm-3 col-md-3 twitter">
                <img src="../icons/twitter.png" data-toggle="modal" data-target=".twittermodal" height="20px" width="20px">
                <div id="twitter"></div>

                
                
            </div> <!-- END OF twitter COL -->

            <div class="col-sm-3 col-md-3 bandcamp">        
                <img src="../icons/bandcamp.png" data-toggle="modal" data-target=".bandcampmodal" height="20px" width="20px">
                <div id="bandcamp"></div>
            </div>

            <div class="col-sm-3 col-md-3 youtube">
                <img src="../icons/youtube.png" data-toggle="modal" data-target=".youtubemodal" height="20px" width="20px">
                <div id="youtube"></div>        
            </div>

        </div> <!-- END OF MID ROW -->

        <div> <!-- bottom row -->

            <div class="col-sm-3 col-md-3 artistsBottomDiv">        

            </div>

            <div class="col-sm-3 col-md-3 hostsBottomDiv">
   
            </div>












        </div>












    </div> <!-- END OF MAIN CONTAINER -->

    <!--STATS MODAL -->
    <div class="modal fade statsmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            Please input some of you vital stats
            hometown: <input class="form-control" type="text" name="hometown" placeholder="hometown" ng-model="hometown">
            age: <input class="form-control" type="text" name="age" placeholder="age" ng-model="age">
            genre: <input class="form-control" type="text" name="genre" placeholder="genre" ng-model="genre">
            group Size: <input class="form-control" type="text" name="groupsize" placeholder="group size" ng-model="group_size">
            website: <input class="form-control" type="text" name="website" placeholder="website" ng-model="website">
            tel: <input class="form-control" type="number" name="tel" placeholder="tel" ng-model="tel">
            <a class="btn btn-default" href="#" role="button" data-dismiss="modal" ng-click="updatestats(hometown, age, genre, group_size, website, tel)">save</a>
            </div>
        </div>
    </div>


    <!-- BIO MODAL -->
    <div class="modal fade aboutmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            Tel us some more about yourself. 
            <input class="form-control" type="text" name="about" placeholder="We are a lovely bunch of folkies etc..etc..etc..." ng-model="updateAboutField">
            <a class="btn btn-default" href="#" role="button" data-dismiss="modal" ng-click="updateAbout(updateAboutField)">save</a>
            </div>
        </div>
    </div>

    <!-- bandcamp modal-->
    <div class="modal fade bandcampmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
        <input class="form-control" type="text" name="bandcamp" placeholder="bandcamp iframe" ng-model="bandcampString">
        <a class="btn btn-default" href="#" role="button" data-dismiss="modal" ng-click="bandcampUpload(bandcampString)">save</a>
    </div>
  </div>
</div>

<!--twitter modal-->

    <div class="modal fade twittermodal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
        <input class="form-control" type="text" name="twitter" placeholder="twitter widget link" ng-model="twitterString">
        <a class="btn btn-default" href="#" role="button" data-dismiss="modal" ng-click="twitterUpload(twitterString)">save</a>
    </div>
  </div>
</div>

<!--youtube modal-->

    <div class="modal fade youtubemodal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
        <input class="form-control" type="text" name="youtube" placeholder="youtube iframe link" ng-model="youtubeString">
        <a class="btn btn-default" href="#" role="button" data-dismiss="modal" ng-click="youtubeUpload(youtubeString)">save</a>
    </div>
  </div>
</div>










</div> <!-- END OF PARTIAL -->

