html, body {
  height:100%;
  width: 100%;

}


/*************************
NAV BAR STYLING LOGIN PAGE
*************************/
#custom-bootstrap-menu.loginPage {
    font-size: 14px;
    background-color: rgba(36, 36, 35, 0);
    border-width: 0px;
    border-radius: 0px;
    margin-bottom: 0;
    color: #fff;
}
#custom-bootstrap-menu.loginPage .navbar-nav>li>a {
  color: rgba(245, 203, 92, 1);
}

#custom-bootstrap-menu.loginPage .navbar-nav>li>a:hover,
#custom-bootstrap-menu.loginPage .navbar-nav>li>a:focus {
    color: rgba(36, 36, 35, 1);
    background-color: rgba(245, 203, 92, 1);
}


/****************
NAV BAR STYLING 
****************/

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: #F5CB5C;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(36, 36, 35, 1);
    border-width: 0px;
    border-radius: 0px;
    margin-bottom: 0;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(232, 237, 223, 1);
    background-color: rgba(36, 36, 35, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(36, 36, 35, 1);
    background-color: rgba(245, 203, 92, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(207, 219, 213, 1);
    background-color: rgba(36, 36, 35, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #242423;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #242423;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff;
}

/*************
LOGIN CONTAINER STYLE
**************/

#loginView .modal-content {
    background-image: url('../icons/foy-vance.jpg');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
    color: white;   
}

.loginModal .modal-content .signupModal {
  height: 200px;
  text-align: center;
  border-radius: 0;
  text-align: center;
}

.form-group {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;

 }

.form-group > button {
  margin-top: 5px;
  margin-bottom: 5px;
}
.form-control {
  margin-bottom: 5px;

}

/******************************
ACCOUNT SET UP MAIN CONTAINER
********************************/

#accountSetupView {
  font-family: helvetica;
  text-align: center;
  color: #333533;
  background-image: url('../icons/crowd.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  z-index: -1;
}

#topRow div {
  margin-left: 10%;
  margin-right: 10%;

}

#activateHost img {
  margin-top: 45px;
}

#setupAccounts {
  text-align: center;

}

#selectAcountsBox {
  background-color: #CFDBD5;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;

}


#main-view {
  height: 100%;
}

#loginView {
  background-image: url("../icons/homepage.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  z-index: -1;
}

#title {
  z-index: 1;
}

#mainloginWindow img {
  height: 50%;
  width: 50%;
}

#mainloginWindow {
  text-align: center;
  margin: 20% auto;
}


/**************************
Top Row Stuff Artist view
***************************/

#artistView {

  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

#addImageButton {
  cursor: pointer;
}

.artisttopRow {
  height: 210px;
  background-color: #F5CB5C;
}

#photo {
  border: none;
  height: 200px;
 /* border: 5px solid #242423;*/
}

#userImage {
  text-align: center;
}

#photo p {
  text-decoration: underline;
}

#uplaodImagePic {
  text-align: right;
}


#stats span {
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 1.5px;
}

#stats {
  /*border: 5px solid #242423;*/
  height: 200px;
  margin-left: 50px;
}

#bio {
/*  border: 5px solid #242423;*/
  height: 200px;
  margin-left: 50px;
  overflow: auto;

}

/**************************
stas modal 
***************************/

.statsmodal .modal-content{
  background-color: #333533;
}

.aboutmodal .modal-content{
  background-color: #333533;
}

.twittermodal .modal-content{
  background-color: #333533;
}

.bandcampmodal .modal-content{
  background-color: #333533;
}

/********************
MIddle row stuff
*********************/

.midRow {
  height: 400px;
  background-color: #333533;
}









/**************************
mid row artists view
***************************/
/*
  margin-left: 10px;
  margin-right: 25px;

#twitterBox {
  height: 200px;
  width: 300px;
  overflow: scroll;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
}

.youtube {
  display: inline-block;
  margin-right: 10px;
}

#bandcamo {
  margin-right: 20px;
  display: inline-block;
}


.twitter {
  margin-right: 10px;
}
*/


/********************
bottom row
********************/


.artistsBottomDiv {
  height: 400px;
  width: 50%;
  background-color: #CFDBD5;
  overflow-y: scroll;
}

.hostsBottomDiv {
  height: 400px;
  width: 50%;
  background-color: #F5CB5C;
  overflow-y: scroll;
}







