#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(245, 203, 92, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(36, 36, 35, 1);
    border-width: 0px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(232, 237, 223, 1);
    background-color: rgba(36, 36, 35, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(245, 203, 92, 1);
    background-color: rgba(245, 203, 92, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(232, 237, 223, 1);
    background-color: rgba(36, 36, 35, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #242423;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #242423;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #242423;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #242423;
}