html, body {
  height:100%;
  width: 100%;
};


/*************************
NAV BAR STYLING LOGIN PAGE
*************************/
#custom-bootstrap-menu.loginPage {
    font-size: 14px;
    background-color: rgba(36, 36, 35, 0);
    border-width: 0px;
    border-radius: 0px;
    margin-bottom: 0;
    color: #fff;
}
#custom-bootstrap-menu.loginPage .navbar-nav>li>a {
  color: rgba(245, 203, 92, 1);
}

#custom-bootstrap-menu.loginPage .navbar-nav>li>a:hover,
#custom-bootstrap-menu.loginPage .navbar-nav>li>a:focus {
    color: rgba(36, 36, 35, 1);
    background-color: rgba(245, 203, 92, 1);
}


/****************
NAV BAR STYLING 
****************/

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: #F5CB5C;
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(36, 36, 35, 1);
    border-width: 0px;
    border-radius: 0px;
    margin-bottom: 0;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(232, 237, 223, 1);
    background-color: rgba(36, 36, 35, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(36, 36, 35, 1);
    background-color: rgba(245, 203, 92, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(207, 219, 213, 1);
    background-color: rgba(36, 36, 35, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #242423;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #242423;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff;
}

/*************
LOGIN CONTAINER STYLE
**************/

.loginModal .modal-content .signupModal {
  height: 200px;
  text-align: center;
  border-radius: 0;
  text-align: center;
  opacity: 0.9;
}

.form-group {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
 }

.form-group > button {
  margin-top: 5px;
  margin-bottom: 5px;
}
.form-control {
  margin-bottom: 5px;

}



/******************************
ACCOUNT SET UP MAIN CONTAINER
********************************/

#accountSetupView {
  font-family: helvetica;
  text-align: center;
  color: white;
  background-image: url('../icons/crowd.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  z-index: -1;
}
}

#topRow div {
  margin-left: 10%;
  margin-right: 10%;

}

#activateHost img {
  margin-top: 45px;
}

#setupAccounts {
  text-align: center;


}































#main-view {
  height: 100%;
}

#loginView {
  background-image: url("../icons/homepage.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  z-index: -1;
}

#title {
  z-index: 1;
}

#mainloginWindow img {
  height: 50%;
  width: 50%;
}

#mainloginWindow {
  text-align: center;
  margin: 20% auto;
}









/**************************
Top Row Stuff 
***************************/

#photo, #vitals, #blurb {
    border: 1px solid black;
    height: 160px;
    background-color: rgba(207, 219,213, .1);
} 

/**************************
Mid Row Stuff 
***************************/

#dates, #map {
    border: 1px solid black;
    height: 350px;
    background-color: rgba(207, 219,213, .1);
    margin-top: 5px;
} 

/**************************
FOOTER STUFF
***************************/

.footer {
    height: 40px;
    color: yellow;
    background-color: #242423;
    clear: both;
    bottom: 0;
    position: relative;
    margin-top: 10px;
}







