<div id="accountSetupView">

    <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="#">hive</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- END OF NAVBAR -->

    <div class="mainContainer">
        <div class="row topRow" id="selectAcountsBox">
            <h2>Active one or both types of account.</h2>
            <div class="col-sm-6 col-md-6" id="activateArtist">
                <h2>Artist<h2>
                <input type="checkbox" id="artistCheckbox" value="artistAccount" aria-label="..." ng-model="artistCheckbox">
                <img src="../icons/bee.png">
                <input class="form-control inputs" type="text" name="artisName" value="" ng-model="artistName" placeholder="Artist Name" required>
            </div>
            <div class="col-sm-6 col-md-6" id="activateHost">
                <h2>Host<h2>
                <input type="checkbox" id="hostCheckbox" value="hostAccount" aria-label="..." ng-model="hostCheckbox">
                <img src="../icons/host2.png" height="150px" width="150px">
                <input class="form-control inputs" type="text" name="artisName" value="" ng-model="hostName" placeholder="Concert Series Name" required>
            </div>
        </div>
            <button class="btn btn-default" type="button" id="setupAccounts" ng-click="setupAccount(artistCheckbox, hostCheckbox, artistName, hostName)">Continue</button>
    </div>
</div>


    